
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/global.css" rel="stylesheet" />
</head>

<body>
    <div> 
      Hello
        <p>Hello</p>  
        <p class="negrito"> Fatec </p>
        <p class="negrito amarelo">Rio Preto</p>
        <button class="btn btn-xs btn-danger"><span class="gra"</button>
    </div>
</body>

</html>
